.App {
  text-align: center;
}

.leaflet-container {
  background-color: #e8f4f8;
}

:root{
  background-color: #E8F4F8;
}

#hr-bill-container {
  position: fixed;
  width: 35%;
  height: 100%;
  left: 0;
  background-color: #E8F4F8;
}

#hr-bill {
  position: relative;
  width: 75%;
  height: 60%;
  left: 25%;
  top: 20%;
}

#learn-more-button {
  position: absolute;
  bottom: 8%
}

#home-map-container {
  width: 65%;
  height: 100%;
  right: 0;
  position: fixed;
  background-color: #E8F4F8;
}

#state-menu {
  position: absolute;
  left: 7%;  
  top: 2%;
  z-index: 500;
}

#map-container {
  width: 40%;
  height: 60%;
  top: 20%;
  left: 59.5%;
  position: absolute;
  background-color: #E8F4F8;

}

#smd-summary {
  position: relative;
  left: 25%;
  top: 12%;
  padding: 8px;
  background-color: #3482d8; 
  border-radius: 10px;
  color: #E8F4F8;
  font-size: 20px;
  width: 54.5%;
}

#mmd-summary {
  position: absolute;
  left: 41%;
  top: 10%;
  padding: 8px;
  background-color: #3482d8;
  border-radius: 10px;
  color: #e8f4f8;
  font-size: 20px;
}

#smd-table {
  position: relative;
  top: 19%;
}

#mmd-table {
  position: absolute;
  left: 35%;
  top: 14.7%;
}

#summary-block{
  padding-top:5%;
  padding-left: 4%;
  height: 600px;
}

#summary-names{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width:80%;
}

#summary-data{
  width:20%;
  text-align: right;
  padding-right: 4%;
}

#summary-names, #summary-data{
  display: inline-block;
}

#line{
  visibility: hidden;
}

#vertical-tab {
  background-color: white;
  border-radius: 10px;
  text-transform: none;
}

#state-top-banner {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: #E8F4F8;
}

#home-button {
  position: relative;
  left: 0.4%;
  width: 9.2%;
  height: 5%;
}

#state-name {
  position: relative;
  left: 1.7%;
  top: 1%;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#state-map-container {
  width: 40%;
  height: 20%;
  right: 0;
  position: absolute;
  background-color: #E8F4F8;
}

#map-toggle-button{
  position: relative;
  top: 55%;
}

#MMD-info{
  right: 0.5%;
  position: absolute;
  width: 40%;
  top: 81%;
}

#MMD-paper-half1, #MMD-paper-half2, #MMD-paper-half3{
  font-size: 14px;
  padding: 1%;
  width: 33%;
  height: 100%;
}


#demo-card{
  padding-top: 1%;
  padding-left: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#demo-card-race{
  padding-left:4%;
  padding-top: 1%;
  width:30%;
}

#demo-card-stats{
  width: 34%;
  text-align: right;
  padding-right: 4%;
}

#demo-card-race, #demo-card-stats{
  display: inline-block;
}

#num-of-dis{
  width:40%;
  position: relative;
  left: 1%;
  height:30%;
  top:10%;
}

#elect-info{

  width:57%;
  height:30%;
  position: relative;
  left:2%;
}

#num-of-dis, #elect-info{
  padding: 5%;
}
#per2{
  text-align: right;
  font-size: 18.8px;
  width: 57%;
}

#per1, #per2{
  display: inline-block;
}

.flex-container {
  display: flex;
  position: relative;
}

#sources {
  font-size: 40px;
  color: #189AB4;
}